<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    .card.g-2.g-lg-3.px-2 {
    border: 2px solid black;
    height: 523px;
    margin: 7px;
    border-radius: 4%;

}
img.card-img-top {
    height: 296px;
    padding: 10px;
}
    </style>
</head>
<body>
    <%- include('./partials/nav.ejs')%>
    <h3 class="text-center">All Clothes</h3>
    
    <div class="row container g-2 g-lg-3">
        <% for(let p of prods) {%>
        <div class="card g-2 g-lg-3 px-2" style="width: 18rem">
          
          <img class="card-img-top" src="<%= p.Image%>" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title"><%= p.pname%></h5>
            <p class="card-text">₹ <%= p.Price%></p>
            <p class="card-text">₹ <%= p.Quantity%></p>
            <p class="card-text"><%= p.Description%></p>
            <a href="/updateproduct/<%=p._id%>" class="btn btn-primary"
              >edit</a>
            <a href="/deleteproduct/<%=p._id %>" class="btn btn-primary">delete</a>
          </div>
         
        </div>
        <% } %>
      
    </div>
</body>
</html>